:root {
  --bg-colour: rgb(27, 38, 59);
  --bg-colour2: rgb(13, 27, 42);
  --component-colour: rgb(65, 90, 119);
  --component-colour2: rgb(119, 141, 169);
  --component-colour3: rgb(224, 225, 221);
  --border-radius: 10px;
  --shadow-colour: rgb(13, 27, 42);
}

body {
  background-color: var(--bg-colour);
}
