.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: var(--component-colour);
  border-radius: 20px;
  width: 190px;
  height: 190px;
  box-shadow: 0 5px 8px var(--shadow-colour);
  opacity: 0.9;
}
.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.stock-symbol {
  align-items: center;
  text-align: center;
  font-size: large;
  position: relative;
}
