.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  /* padding: 10px; */
  background-color: var(--component-colour);
  border-radius: 20px;

  box-shadow: 0 5px 8px var(--shadow-colour);
}
.card::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  background-color: var(--component-colour);
  opacity: 0.9;
  z-index: -1;
  transition: opacity 0.2s ease;
}

.card:hover::before {
  opacity: 1;
}

.stockSymbol {
  align-items: center;
  text-align: center;
  font-size: large;
  margin: 0;
  position: relative;
}
