.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  background-color: var(--component-colour);
  border-radius: 20px;
  width: 340px;
  height: 340px;
  box-shadow: 0 5px 8px var(--shadow-colour);
  opacity: 0.9;
}
.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.stock-symbol {
  align-items: center;
  text-align: center;
  font-size: large;
  margin: 0;
  position: relative;
}

.time-slider {
  display: flex;

  width: 250px;
}

.MuiSlider-rail {
  background-color: rgba(13, 27, 42, 0.3) !important;
}

.MuiSlider-track {
  background-color: var(--bg-colour2) !important;
}

.MuiSlider-thumb {
  background-color: var(--bg-colour2) !important;
}
