.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  position: relative;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--component-colour2);
  position: absolute;
}
