.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  position: relative;
}

.expanded-graph-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  isolation: isolate;
  pointer-events: all;
}
.tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expanded-graph-container {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  pointer-events: all;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  width: 1400px;
}

.left-graph {
  display: flex;
  padding: 10px;
}

.right-graph {
  display: flex;
  padding: 10px;
}

.blurred {
  filter: blur(4px);
  pointer-events: none;
}

#tooltip-text {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
