.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}
