.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav:left,
nav:right {
  display: flex;
  gap: 15px;
}

.center-section {
  flex-grow: 1;
  text-align: center;
}
