.search-button {
  background-color: var(--component-colour3);
  color: black;
  border: 0;
  border-radius: var(--border-radius);
  padding: 15px 50px;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  box-shadow: 5px 5px 5px var(--shadow-colour);
}
.search-button:hover {
  opacity: 1;
}
