.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.titleDescription {
  text-align: center;
  color: var(--component-colour3);
  margin-bottom: 3rem;
}

.titleDescription h1 {
  margin-bottom: 1rem;
  color: var(--component-colour3);
}

.example {
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
}

.leftGraph,
.GlyphGraph {
  flex: 1;
  background-color: var(--component-colour2);
  border-radius: 20px;
  box-shadow: 0 5px 8px var(--shadow-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.leftGraph::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  background-color: var(--component-colour);
  opacity: 0.9;
  z-index: -1;
  transition: opacity 0.2s ease;
}

.leftGraph:hover::before {
  opacity: 1;
}

.rightText {
  flex: 1;
  color: var(--component-colour3);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightText h2 {
  color: var(--component-colour3);
  margin-bottom: 1rem;
}

.practiceButton {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
